# Generic
/vendor
/node_modules
.env
npm-debug.log

# Build Files
public/build/*
public/css/all.css
public/js/all.js
public/css/all.css.map
public/js/all.js.map

# Uploads
public/files/documents/*
resources/assets/js/plugins/npm.js
