/public/js/all.js
/public/js/all.js.map
/public/css/all.css
/public/css/all.css.map
/public/build
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
npm-debug.log
public/css/all.css
public/js/all.js